<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if not list_projects %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <tr>
                        <thead>
                            Name
                        </thead>
                        <thead>
                            Number of tasks
                        </thead>
                    </tr>
                    <tbody>
                        {% for project in list_projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project|length }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
